<div style="display:none;">
	<% if poll.id == 1 %>
	<%= @filename = 'Results'+(Time.now.to_f * 1000).to_i.to_s+'.txt' %>
	<%= create_file(@filename) %>
	<% end %>
</div>



<h1 class="center">Who do you think will win this matchup?</h1>
<div id="image-container">
	<%= image_tag "nfl.png" %>
</div>

<div class="team-container">
	<h2 class="team-header center"><%= poll.teamAName %></h2>
	<ul class="team-stats-list">
		<li>Overall season record: <%= poll.teamAWins %> - <%= poll.teamALosses %></li>
		<li>Total points for: <%= poll.teamAPointsFor %></li>
		<li>Total points against: <%= poll.teamAPointsAgainst %></li>
		<li>Home or away?: <%= poll.teamALocation %></li>
	</ul>
	<%= link_to poll.teamAName+" will win", {:controller => "polls", 
		:action => "write_to_file", :pollQuestion => poll.id, 
		:result => poll.teamAName, :filename => @filename}, 
		:class => "team-button button" %>

</div>

<div class="team-container">
	<h2 class="team-header center"><%= poll.teamBName %></h2>
	<ul class="team-stats-list">
		<li>Overall season record: <%= poll.teamBWins %> - <%= poll.teamBLosses %></li>
		<li>Total points for: <%= poll.teamBPointsFor %></li>
		<li>Total points against: <%= poll.teamBPointsAgainst %></li>
		<li>Home or away?: <%= poll.teamBLocation %></li>
	</ul>

	<%= link_to poll.teamBName+" will win", {:controller => "polls", 
		:action => "write_to_file", :pollQuestion => poll.id, 
		:result => poll.teamBName, :filename => @filename}, 
		:class => "team-button button" %>
</div>
